###############################################################################
# PROJECT Configuration
###############################################################################

# Path to openPOWERLINK
DIR_OPENPOWERLINK=stacks/openPOWERLINK

# openPOWERLINK repository used
REPO_OPENPOWERLINK=https://github.com/OpenAutomationTechnologies/openPOWERLINK_V2.git

# Specific commit hash of openPOWERLINK
HASH_OPENPOWERLINK=24ac0c6f4d6003e891b77b9df45831e2f39b94a4
