###############################################################################
# PROJECT Configuration
###############################################################################

# Path to openPOWERLINK
DIR_OPENPOWERLINK=stacks/openPOWERLINK

# openPOWERLINK repository used
REPO_OPENPOWERLINK=http://brateggevoat1/gerrit/openPOWERLINK.git

# Version used of openPOWERLINK (git branch/tag)
VERSION_OPENPOWERLINK=develop-2.0.0

# Specific commit hash of openPOWERLINK (optional)
HASH_OPENPOWERLINK=
