###############################################################################
# PROJECT Configuration
###############################################################################

# Path to openPOWERLINK
DIR_OPENPOWERLINK=stacks/openPOWERLINK

# Version used of openPOWERLINK (git branch/tag/commit)
VERSION_OPENPOWERLINK=develop-2.0.0
